.fade-enter-active, 
.fade-leave-active {
  transition: opacity 0.3s
}

.fade-enter, 
.fade-leave-active {
  opacity: 0
}

.slow-fade-enter-active, 
.slow-fade-leave-active {
  transition: opacity 1.5s
}

.slow-fade-enter, 
.slow-fade-leave-active {
  opacity: 0
}


.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.slide-down-enter-active {
  transition: all .3s ease;
  max-height: 500px;
}
.slide-down-leave-active {
  transition: all .3s ease-in-out;
  max-height: 500px;
}
.slide-down-enter, .slide-down-leave-to {
  transform: translatey(-30px);
  max-height: 0px;
  opacity: 0;
}

.slide-up-enter-active ,
.slide-up-leave-active {
  transition: all .3s ease-in-out;
}
.slide-up-enter,
.slide-up-leave-to {
  transform: translateY(100%);
  opacity: 0;
}

.slide-left-leave-active,
.slide-left-enter-active {
  transition: .5s;
}
.slide-left-enter {
  transform: translate(100%, 0);
}
.slide-left-leave-to {
  transform: translate(100%, 0);
}

.fadeScale-enter-active, 
.fadeScale-leave-active {
  transition: all .3s ease-in-out;
}

.fadeScale-enter, 
.fadeScale-leave-active {
  opacity: 0;
  transform: scale(0.1);
}
