.up-down-btn {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  span {
    font-size: calc(32px + 1vw);
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover {
      color: $light-green;
      transition: all .3s ease-in-out;
    }
  }
}