//variables
$violet: #ff99ff;
$blue: #66ffff;
$light-blue:#DAF2EF;
$light-black: #262626;
$darker-black: #1a1a1a;
$light-grey: #f2f2f2;
$medium-grey: #d9d9d9;
$darker-grey: #6a6c6b;
$light-green:#9cbc67;
$fb-blue: #677fb5;
$linkedin-blue: #3daccf;
$plum: #b50572;

//mixin
@mixin darker-black-bg {
  background-color: rgba($color: $light-black, $alpha: 0.6);
}
@mixin dark-bg {
  background-color: rgba($color: black, $alpha: 0.7);
}

@mixin dark-bg-mobile {
  background-color: rgba($color: black, $alpha: 0.85);
}

@mixin mobile-margin {
  margin: 15px;
}

@mixin btn-light-green {
  color: $light-green;
  border-color: $light-green;
  &:hover {
    background-color: $light-green;
    color: black;
  }
}
@mixin btn-grey {
  color: $darker-grey;
  border-color: $darker-grey;
  &:hover {
    background-color: $darker-grey;
    color: white;
  }
}
@mixin card-grey {
  background-color: rgba($color: $light-grey, $alpha: 0.1);
  border-radius: 5px;
  cursor: pointer;
}
@mixin hover-light-green {
  &:hover {
    -webkit-box-shadow: inset 0px 0px 0px 5px rgba($light-green ,0.75);
    -moz-box-shadow: inset 0px 0px 0px 5px rgba($light-green ,0.75);
    box-shadow: inset 0px 0px 0px 5px rgba($light-green ,0.75);
    transition: all .3s ease-in-out;
    color: $light-green;
  }
}
@mixin rotate180 {
  transform: rotate(180deg);
  transition: all .3s ease-in-out;
}
@mixin icon-show-panel {
  font-size: calc(32px + 1vw);
  transition: all .3s ease-in-out;
  &.hide-panel {
    @include rotate180;
  }
}

@mixin bottom-card {
  height: 50px;
  margin-top: 20px;
  @include card-grey;
  p {
    margin: 0;
  }
}
@mixin transition-primary {
  -webkit-transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}
@mixin transition-secondary {
  -webkit-transition: 5s all ease-in-out;
  -moz-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

//fonts
@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


